/* styles/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: red;
  min-height: 100vh;
}

.main {}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: large;
  color: white;
  border-bottom: 1px solid black;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  margin: auto;
  width: 50%;
  margin-top: 8rem;
  align-items: center;
}

.bodyContent {
  display: flex;
  flex-direction: column;

}

#title {
  font-size: xx-large;
  color: white;

}

#subtitle {
  font-size: 1rem;
  color: white;

}

p {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

  }

  .bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  #title {
    font-size: xx-large
  }

  #subtitle {
    font-size: small;
  }
}

@media only screen and (min-width: 769px) {

  #title {
    color:blue
  }

}
